// @tailwind base;
// @tailwind components;
// @tailwind utilities;
// @import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:wght@600&family=montserrat_regulat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Colors
$darkColor: #1f1f1f;
$darkColor_10: #353535;
$darkColor_20: #4c4c4c;
$darkColor_30: #626262;
$darkColor_40: #797979;
$darkColor_50: #8f8f8f;
$darkColor_60: #a5a5a5;
$darkColor_70: #bcbcbc;
$darkColor_80: #d2d2d2;
$darkColor_90: #e9e9e9;
$lightColor: #E3E3E3;
$accentColor: #B3FE3B;
$secondaryColor1: #FC1EFF;
$secondaryColor2: #FFFE01;
$secondaryColor3: #01FFFF;

// PrimeReact overrides
.p-button {
  background-color: $lightColor;
  color: $darkColor;
  border: none;
  outline: none;
  box-shadow: none;
  transition:
    color 0.5s,
    background-color 0.5s;

  &:hover {
    background-color: $accentColor;
  }
}

.p-selectbutton {
  .p-highlight {
    background-color: $accentColor;
  }
}

.p-dialog-content {
  overflow: visible;
}

.p-dropdown,
.p-dropdown-panel,
.p-inputtext,
.p-button {
  border-radius: 0;
}

// .p-dropdown:not(.p-disabled):hover {
//   border-color: $accentColor;
// }

// .p-dropdown:not(.p-disabled).p-focus {
//   box-shadow: 0 0 0 0.2rem rgba($accentColor, 0.1);
//   border-color: $accentColor;
// }

// @font-face {
//   font-family: "violet_sansregular";
//   src: url("./assets/fonts/violetsans-regular-webfont.ttf");
//   font-weight: 400;
// }

// @font-face {
//   font-family: "montserrat_regulat";
//   src: url("./assets/fonts/v.ttf");
//   font-weight: 400;
// }

@font-face {
  font-family: "visby_regular";
  src: url("./assets/fonts/visby-webfont/VisbyRegular.woff");
  font-size: 18;
  font-weight: 400;
}

@font-face {
  font-family: "visby_heavy";
  src: url("./assets/fonts/visby-webfont/VisbyHeavy.woff");
  font-weight: 400;
}

* {
  font-family: "visby_regular", sans-serif;
  font-style: normal;
  box-sizing: content-box;
}

body {
  line-height: 1.6;
  // font-family:
  //   Inter,
  //   -apple-system,
  //   BlinkMacSystemFont,
  //   'Segoe UI',
  //   Roboto,
  //   Oxygen,
  //   Ubuntu,
  //   Cantarell,
  //   'Fira Sans',
  //   'Droid Sans',
  //   'Helvetica Neue',
  //   sans-serif;
  // font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body {
  min-height: 100vh;
  color: $darkColor;
  background-color: $lightColor;
  // transition:
  //   color 0.5s,
  //   background-color 0.5s;
  // background: url("./assets/img/bg-frame.svg") no-repeat center center;
  // background-size: cover;
}

.custom {
  &__title {
    font-family: "visby_heavy", sans-serif;
    // font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-bottom: 22px;
  }
}

.pagination-sidebar {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }

  &__items {
    margin-bottom: 24px;
  }
}

.editor {
  &__wrapper {
    background-color: $lightColor;
  }

  &__sidebar-container {
    position: fixed;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: $darkColor;
    border-radius: 0 20px 20px 0;
    height: calc(100vh - 40px);
  }

  &__pagination-sidebar-container {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 20px 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: $darkColor;
    border-radius: 20px 0 0 20px;
    height: calc(100vh - 40px);
  }

  &__feed-container {
    margin-left: 240px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    // TODO remove topbar height
    // height: calc(100vh - 40px);
    // overflow: scroll;
  }

  &__email-popup-content {
    margin-top: -80px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__email-popup-inner {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__email-popup-title {
    font-size: 32px;
    margin-bottom: 8px;
  }

  &__email-popup-text {
    font-size: 20px;
    margin-bottom: 28px;
  }

  &__email-popup-input {
    margin-bottom: 12px;
    width: 100%;
  }
}

.project-view {
  &__page-content {
    // position: relative;
    // align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
  }

  &__page-content-inner {
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    overflow-x: hidden;
    // align-items: center;
  }

  &__email-popup-content {
    margin-top: -80px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__email-popup-inner {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__email-popup-title {
    font-size: 32px;
    margin-bottom: 8px;
  }

  &__email-popup-text {
    font-size: 20px;
    margin-bottom: 28px;
  }

  &__email-popup-input {
    margin-bottom: 12px;
    width: 100%;
  }

  &__unpublished-container {
    padding: 40px;

    p {
      margin-top: 0;
    }
  }

  &__email-popup-btn {
    margin-top: 12px;
    padding: 12px 24px !important;
  }
}

.editor-block {
  &__selection-item {
    display: flex;
  }

  &__selection-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // 280 = sidebar + paddings
    max-width: calc(100vw - 280px - 24px);
    background-color: $darkColor;
    padding: 12px;
    border-radius: 20px;

    &--small {
      background-color: $darkColor;
      padding: 0;
      border-radius: 0;
    }

    &--full {
      max-width: 100vw;
      width: 100vw;
      background-color: $darkColor;
      padding: 0;
      border-radius: 0;
    }
  }

  &__texts-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // addition of the paddings on wrapper elements
    padding: 32px calc(20px + 12px);
    max-width: 80%;

    &--small {
      padding: 4px;
    }

    &--full {
      margin: 64px 40px;
    }
  }

  &__cta-container {
    position: absolute;
    bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &--full {
      bottom: 80px;
    }
  }

  &__title {
    font-size: 42px;
    margin-bottom: 32px;

    &--small {
      font-size: 12px;
      margin-bottom: 2px;
    }
  }

  &__subtitle {
    font-size: 22px;

    &--small {
      font-size: 7px;
    }
  }
}

.three-wrapper {
  &__scene {
    width: 100vw;
    height: calc(100vh - 24px - 40px);
    max-width: calc(100vw - 280px - 24px - 200px);
    border-radius: 20px;
    overflow: hidden;

    &--small {
      max-width: 200px;
      height: 100px;
      border-radius: 0px;
      cursor: pointer;

      .three-wrapper {
        &__canvas {
          background: $darkColor;
        }
      }

      &:hover {
        .three-wrapper {
          &__canvas {
            background: white;
          }
        }
      }
    }
  }

  &__canvas {
    background: $darkColor;
  }
}

.sidebar-editor {
  &__form-input-container {
    margin-bottom: 24px;
    width: 200px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.listing {
  &__projects-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }

  &__card-container {
    margin: 0 12px 12px 0;
    display: flex;
    flex-direction: column;
  }
}

.fullpage-wrapper {
  padding: 20px 40px;
}

.homepage {
  &__wrapper {
    min-height: 100vh;
    background-color: black;
    color: white;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  &__hero {
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-wrap: wrap;
    width: 85vw;
  }

  &__hero-left {
    padding-left: 40px;
  }

  &__hero-right {
    flex-shrink: 0;
  }

  &__logo {
    margin: 60px 0 120px 0;
  }

  &__title-1 {
    margin: 12px 0 24px 0;
    font-family: "visby_heavy", sans-serif;
    font-weight: 400;
    font-size: 4.25rem;
    letter-spacing: -0.4px;
    line-height: 1;
  }

  &__subtitle-1 {
    margin: 0;
    font-size: 2.75rem;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 1;
  }

  &__cta {
    cursor: pointer;
    border: none;
    // width: 220px;
    padding: 24px 42px;
    background-size: 200%;
    transition: 0.4s;
    // font-family: "visby_heavy";
    font-size: 2.5rem;
    margin-top: 64px;
    border-radius: 50px;
    transition: 0.4s;
    background-image: linear-gradient(to left, #24FFC0, #4589E3, #24FFC0);

    &:hover {
      background-position: right;
    }
  }

  &__blob-1-container {
    width: 35vw;
    height: 35vw;
  }

  &__blob-2-container {
    position: absolute;
    width: 100vh;
    height: 100vh;
  }

  &__cards {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__card {
    &__container {
      padding: 32px 20px;
      margin: 20px;
      color: black;
      height: 40vh;
      width: 300px;
      border-radius: 40px;
      // background-image: linear-gradient(90deg, #24FFC0, #4589E3);
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__title {
      font-size: 1.75rem;
      font-family: "visby_heavy";
      z-index: 1000;
      margin-bottom: 32px;
    }

    &__content {
      font-size: 1.5rem;
      font-family: "visby_regular";
      z-index: 1000;
      margin: auto 0 auto 0;
    }
  }

  &__shape-container {
    margin: auto 0 0 0;
    z-index: 1000;
    width: 120px;
    height: 120px;
  }

  &__footer {
    &__wrapper {
      padding: 160px 0 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__inner {
      display: flex;
      align-items: center;
    }

    &__icon {
      padding: 0 8px;
    }
  }
}

.card {
  &__wrapper {
    display: flex;
    padding: 12px 16px;
    border: solid 2px $lightColor;

    &--clickable {
      cursor: pointer;

      &:hover {
        border: solid 2px $accentColor;
      }
    }
  }
}

.custom-button {
  &__btn {
    cursor: pointer;
    border: none;
    // width: 220px;
    padding: 24px 42px;
    background-size: 200%;
    transition: 0.4s;

    &:hover {
      background-position: right;
    }
  }
}

.logged-out {
  &__wrapper {
    background-color: $darkColor;
  }
}

// EDITOR V2

.editorv2 {
  &__page-content {
    // cf editorv2-sidebar__inner-btns-container width
    margin-left: 60px;
    // position: relative;
    min-height: 100vh;
    // removing width for sidebar and .fullpage-wrapper padding
    // width: calc(100vw - 60px - 80px);
    width: calc(100vw - 60px);
    overflow-x: hidden;

    &--reduced {
      // removing width for sidebar and .fullpage-wrapper padding
      // width: calc(100vw - 60px - 80px - 240px - 40px);
      width: calc(100vw - 60px - 240px - 40px);
      margin-left: calc(60px + 240px + 40px);

      .editorv2__page-content-inner {
        width: calc(100vw - 60px - 240px - 40px);
        margin-left: calc(60px + 240px + 40px);
      }

      .complex-background {
        &__wrapper {
          width: calc(100vw - 60px - 240px - 40px);
          margin-left: calc(60px + 240px + 40px);
        }
      }
    }
  }

  &__page-content-inner {
    margin-left: 60px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    overflow-x: hidden;
    min-height: 100vh;
    // removing width for sidebar and .fullpage-wrapper padding
    // width: calc(100vw - 60px - 80px);
    width: calc(100vw - 60px);
    // align-items: center;
  }

}

.editorv2-sidebar {
  &__wrapper {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: $darkColor;
    color: $lightColor;
    height: 100vh;
    display: flex;
    z-index: 1000;
  }

  &__inner-btns-container {
    width: 60px;
  }

  &__add-item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: $darkColor_30;
    }
  }

  &__customisation-section {
    background-color: $darkColor_10;
    width: 240px;
    padding: 60px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    overflow: scroll;
  }

  &__customisation-inner {
    width: 100%;
  }

  &__3d-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &__form-input {
    flex-grow: 1;
  }

  &__form-spaced {
    margin-bottom: 12px;
  }

  &__form-input-container {
    margin-bottom: 12px;
    width: 100%;
    display: flex;
    // width: 300px;
    // min-width: 300px;

    &--unspaced {
      margin-bottom: 0;
    }
  }

  &__form-label {
    font-family: "visby_heavy";
    color: $darkColor_60;
    font-size: 14px;
    margin-bottom: 2px;
  }

  &__bold-input-container {
    cursor: pointer;
    margin-bottom: 12px;
    border: solid 1px transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-weight: 700;
    font-size: 24px;

    &:hover {
      border: solid 1px $lightColor;
    }

    &--selected {
      background-color: $darkColor;
    }
  }

  &__form-input-row {
    display: flex;
    flex-wrap: wrap;
  }

  &__container-edition-add-item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: $darkColor_30;
    }
  }

  &__form-input-slider {
    width: 100%;
    margin-bottom: 32px;
  }

  &__customisation-delete-btn {
    flex-shrink: 0;
    margin-top: 24px;
  }

  &__img-input {
    display: none;
  }

  &__close {
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  &__publish-link {
    cursor: pointer;
  }
}

.editor-v2-item {
  &__wrapper {
    // padding: 20px;
    border: solid 1px transparent;
    width: fit-content;

    &:hover {
      border: dashed 1px $secondaryColor1;
    }

    &--selected {
      border: solid 1px $secondaryColor1 !important;
    }

    &--live {
      border: none !important;
    }
  }

  &__custom-button-container {
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
    transition:
      color 0.5s,
      background-color 0.5s;
    padding: 0.75rem 1.5rem;
  }
}

.complex-background {
  &__wrapper {
    z-index: 1;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  &__inner {
    width: 100%;
    height: 100vh;
  }
}

// .three-d-item-renderer {
//   &__wrapper {}
// }

// Mobile rules 
@media (max-width:961px) {
  // .editor-v2-item {
  //   &__wrapper {
  //     padding: 20px 4px;
  //   }
  // }

  .fullpage-wrapper {
    padding: 8px;
  }

  .homepage {
    &__hero {
      width: 95vw;
      flex-wrap: wrap;
    }

    &__hero-left {
      padding-left: 0;
      text-align: center;
    }

    &__logo {
      margin: 30px 0 48px 0;
    }

    &__title-1 {
      font-size: 2.25rem;
      letter-spacing: -0.4px;
      line-height: 1;
    }

    &__subtitle-1 {
      font-size: 1.75rem;
    }

    &__cta {
      margin: 34px 0 34px 0;
    }

    &__blob-1-container {
      width: 80vw;
      height: 80vw;
    }

    &__blob-2-container {
      position: relative;
      width: 100vw;
      height: 100vw;
      margin-top: 32px;
    }

    &__cards {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__card {
      &__container {
        background-image: linear-gradient(90deg, #24FFC0, #4589E3);
      }
    }

    &__footer {
      &__wrapper {
        padding: 40px 0 20px 0;
      }
    }
  }
}

.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}